Connected Services/WS_ValdiviaDojo/WS_Dojo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgDetalleCom" type="tns:AgDetalleCom" />
  <xs:element name="AgDetalleComResponse" type="tns:AgDetalleComResponse" />
  <xs:element name="AgreComentario" type="tns:AgreComentario" />
  <xs:element name="AgreComentarioResponse" type="tns:AgreComentarioResponse" />
  <xs:element name="AgreSolicitud" type="tns:AgreSolicitud" />
  <xs:element name="AgreSolicitudResponse" type="tns:AgreSolicitudResponse" />
  <xs:element name="CrearUsuario" type="tns:CrearUsuario" />
  <xs:element name="CrearUsuarioResponse" type="tns:CrearUsuarioResponse" />
  <xs:element name="EliComentario" type="tns:EliComentario" />
  <xs:element name="EliComentarioResponse" type="tns:EliComentarioResponse" />
  <xs:element name="EliSolicitud" type="tns:EliSolicitud" />
  <xs:element name="EliSolicitudResponse" type="tns:EliSolicitudResponse" />
  <xs:element name="ListaComentario" type="tns:ListaComentario" />
  <xs:element name="ListaComentarioResponse" type="tns:ListaComentarioResponse" />
  <xs:element name="ListaSolicitud" type="tns:ListaSolicitud" />
  <xs:element name="ListaSolicitudResponse" type="tns:ListaSolicitudResponse" />
  <xs:element name="ListadoCarrito" type="tns:ListadoCarrito" />
  <xs:element name="ListadoCarritoResponse" type="tns:ListadoCarritoResponse" />
  <xs:element name="ListadoClase" type="tns:ListadoClase" />
  <xs:element name="ListadoClaseNivel" type="tns:ListadoClaseNivel" />
  <xs:element name="ListadoClaseNivelResponse" type="tns:ListadoClaseNivelResponse" />
  <xs:element name="ListadoClaseResponse" type="tns:ListadoClaseResponse" />
  <xs:element name="ListadoGenero" type="tns:ListadoGenero" />
  <xs:element name="ListadoGeneroResponse" type="tns:ListadoGeneroResponse" />
  <xs:element name="ListadoHorario" type="tns:ListadoHorario" />
  <xs:element name="ListadoHorarioResponse" type="tns:ListadoHorarioResponse" />
  <xs:element name="ListadoObser" type="tns:ListadoObser" />
  <xs:element name="ListadoObserResponse" type="tns:ListadoObserResponse" />
  <xs:element name="ListadoProdEspe" type="tns:ListadoProdEspe" />
  <xs:element name="ListadoProdEspeResponse" type="tns:ListadoProdEspeResponse" />
  <xs:element name="ListadoProdGen" type="tns:ListadoProdGen" />
  <xs:element name="ListadoProdGenResponse" type="tns:ListadoProdGenResponse" />
  <xs:element name="Login" type="tns:Login" />
  <xs:element name="LoginResponse" type="tns:LoginResponse" />
  <xs:element name="ModComentario" type="tns:ModComentario" />
  <xs:element name="ModComentarioResponse" type="tns:ModComentarioResponse" />
  <xs:element name="ModSolicitud" type="tns:ModSolicitud" />
  <xs:element name="ModSolicitudResponse" type="tns:ModSolicitudResponse" />
  <xs:element name="ModUsuario" type="tns:ModUsuario" />
  <xs:element name="ModUsuarioResponse" type="tns:ModUsuarioResponse" />
  <xs:complexType name="ListadoObser">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoObserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:observacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="dia_semana" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_asistencia" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="id_asistencia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_nivel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoProdGen">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoProdGenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prodGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prodGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_PROD" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_producto" type="xs:string" />
      <xs:element name="PORC_DESC" type="xs:int" />
      <xs:element name="PRECIO_NORMAL" type="xs:int" />
      <xs:element name="STOCK" type="xs:int" />
      <xs:element name="VALOR_DESC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="dv" type="xs:string" />
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="s_nom" type="xs:string" />
      <xs:element minOccurs="0" name="a_pat" type="xs:string" />
      <xs:element minOccurs="0" name="a_mat" type="xs:string" />
      <xs:element minOccurs="0" name="f_nac" type="xs:string" />
      <xs:element minOccurs="0" name="cel" type="xs:string" />
      <xs:element minOccurs="0" name="cel_em" type="xs:string" />
      <xs:element minOccurs="0" name="dire" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:string" />
      <xs:element minOccurs="0" name="alt" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:int" />
      <xs:element minOccurs="0" name="t_usu" type="xs:int" />
      <xs:element minOccurs="0" name="cint" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaComentarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMENTARIO" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_RESPUESTA" type="xs:string" />
      <xs:element name="ID_ENCUESTA" type="xs:int" />
      <xs:element name="ID_TIPO_ENCUESTA" type="xs:int" />
      <xs:element minOccurs="0" name="IMG_USU" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="RUT" type="xs:int" />
      <xs:element name="VALORACION" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_sol" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreSolicitudResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id_tipo" type="xs:int" />
      <xs:element minOccurs="0" name="p_estado" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaSolicitudResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitud">
    <xs:sequence>
      <xs:element name="id_estado" type="xs:int" />
      <xs:element name="id_solicitud" type="xs:int" />
      <xs:element name="id_tipo_sol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_estado" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_tipo_sol" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" type="xs:string" />
      <xs:element name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="solicitud" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoProdEspe">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoProdEspeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prodEspe" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prodEspe">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_FIN" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_IN" type="xs:string" />
      <xs:element name="ID_DESC_PROD" type="xs:int" />
      <xs:element name="ID_PRODUCTO" type="xs:int" />
      <xs:element name="ID_TALLA" type="xs:int" />
      <xs:element name="ID_TIPO_PROD" type="xs:int" />
      <xs:element minOccurs="0" name="IMG_PROD" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_PRODUCTO" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_TIPO_PROD" type="xs:string" />
      <xs:element name="PORC_DESC" type="xs:int" />
      <xs:element name="PRECIO_NORMAL" type="xs:int" />
      <xs:element name="STOCK" type="xs:int" />
      <xs:element name="VALOR_DESC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliSolicitudResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carrito">
    <xs:sequence>
      <xs:element name="CANTIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="DESCRIPCION" type="xs:string" />
      <xs:element name="ID_DESC_PROD" type="xs:int" />
      <xs:element name="ID_PRODUCTO" type="xs:int" />
      <xs:element name="ID_TALLA" type="xs:int" />
      <xs:element name="ID_TIPO_PROD" type="xs:int" />
      <xs:element minOccurs="0" name="IMG_PROD" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_PRODUCTO" type="xs:string" />
      <xs:element name="PORC_DESC" type="xs:int" />
      <xs:element name="PRECIO_NORMAL" type="xs:int" />
      <xs:element name="RUT" type="xs:int" />
      <xs:element name="STOCK" type="xs:int" />
      <xs:element name="VALOR_DESC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgDetalleCom">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_prod" type="xs:int" />
      <xs:element minOccurs="0" name="p_cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgDetalleComResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="p_val" type="xs:int" />
      <xs:element minOccurs="0" name="p_fecha" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
      <xs:element minOccurs="0" name="p_comentario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_val" type="xs:int" />
      <xs:element minOccurs="0" name="p_fecha" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
      <xs:element minOccurs="0" name="p_comentario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoClaseNivel">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoClaseNivelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:clasesNivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clasesNivel">
    <xs:sequence>
      <xs:element name="id_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_clase" type="xs:string" />
      <xs:element minOccurs="0" name="p_nivel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="dia" type="xs:string" />
      <xs:element minOccurs="0" name="hora_fin" type="xs:string" />
      <xs:element minOccurs="0" name="hora_ini" type="xs:string" />
      <xs:element name="id_clase" type="xs:int" />
      <xs:element name="id_horario" type="xs:int" />
      <xs:element name="id_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nom_clase" type="xs:string" />
      <xs:element minOccurs="0" name="nom_nivel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="s_nom" type="xs:string" />
      <xs:element minOccurs="0" name="a_pat" type="xs:string" />
      <xs:element minOccurs="0" name="a_mat" type="xs:string" />
      <xs:element minOccurs="0" name="f_nac" type="xs:string" />
      <xs:element minOccurs="0" name="cel" type="xs:string" />
      <xs:element minOccurs="0" name="cel_em" type="xs:string" />
      <xs:element minOccurs="0" name="dire" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:string" />
      <xs:element minOccurs="0" name="alt" type="xs:string" />
      <xs:element minOccurs="0" name="p_img" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:int" />
      <xs:element minOccurs="0" name="t_usu" type="xs:int" />
      <xs:element minOccurs="0" name="cint" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="APaterno" type="xs:string" />
      <xs:element minOccurs="0" name="altura" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="celularEmer" type="xs:string" />
      <xs:element minOccurs="0" name="cinturon" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DV" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="FNacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element name="id_cinturon" type="xs:int" />
      <xs:element name="id_genero" type="xs:int" />
      <xs:element minOccurs="0" name="id_tipo_usu" type="xs:string" />
      <xs:element minOccurs="0" name="PNombre" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:string" />
      <xs:element name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="rutaIma" type="xs:string" />
      <xs:element minOccurs="0" name="SNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="p_sol" type="xs:string" />
      <xs:element minOccurs="0" name="p_res" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo_sol" type="xs:int" />
      <xs:element minOccurs="0" name="p_estado" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModSolicitudResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoClase">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoClaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:clases" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clases">
    <xs:sequence>
      <xs:element name="id_clase" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoGenero">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoGeneroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:genero" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genero">
    <xs:sequence>
      <xs:element name="id_genero" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>