Connected Services/WS_ValdiviaDojo/WS_Dojo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgDetalleCom" type="tns:AgDetalleCom" />
  <xs:element name="AgDetalleComResponse" type="tns:AgDetalleComResponse" />
  <xs:element name="AgEvento" type="tns:AgEvento" />
  <xs:element name="AgEventoResponse" type="tns:AgEventoResponse" />
  <xs:element name="AgHorario" type="tns:AgHorario" />
  <xs:element name="AgHorarioResponse" type="tns:AgHorarioResponse" />
  <xs:element name="AgMensualidad" type="tns:AgMensualidad" />
  <xs:element name="AgMensualidadResponse" type="tns:AgMensualidadResponse" />
  <xs:element name="AgOrdenCompra" type="tns:AgOrdenCompra" />
  <xs:element name="AgOrdenCompraResponse" type="tns:AgOrdenCompraResponse" />
  <xs:element name="AgPago" type="tns:AgPago" />
  <xs:element name="AgPagoResponse" type="tns:AgPagoResponse" />
  <xs:element name="AgParticipacion" type="tns:AgParticipacion" />
  <xs:element name="AgParticipacionResponse" type="tns:AgParticipacionResponse" />
  <xs:element name="AgProducto" type="tns:AgProducto" />
  <xs:element name="AgProductoResponse" type="tns:AgProductoResponse" />
  <xs:element name="AgreComentario" type="tns:AgreComentario" />
  <xs:element name="AgreComentarioResponse" type="tns:AgreComentarioResponse" />
  <xs:element name="AgreDescuento" type="tns:AgreDescuento" />
  <xs:element name="AgreDescuentoResponse" type="tns:AgreDescuentoResponse" />
  <xs:element name="AgreSolicitud" type="tns:AgreSolicitud" />
  <xs:element name="AgreSolicitudResponse" type="tns:AgreSolicitudResponse" />
  <xs:element name="CrearUsuario" type="tns:CrearUsuario" />
  <xs:element name="CrearUsuarioResponse" type="tns:CrearUsuarioResponse" />
  <xs:element name="EliComentario" type="tns:EliComentario" />
  <xs:element name="EliComentarioResponse" type="tns:EliComentarioResponse" />
  <xs:element name="EliDescuento" type="tns:EliDescuento" />
  <xs:element name="EliDescuentoResponse" type="tns:EliDescuentoResponse" />
  <xs:element name="EliEvento" type="tns:EliEvento" />
  <xs:element name="EliEventoResponse" type="tns:EliEventoResponse" />
  <xs:element name="EliHorario" type="tns:EliHorario" />
  <xs:element name="EliHorarioResponse" type="tns:EliHorarioResponse" />
  <xs:element name="EliProducto" type="tns:EliProducto" />
  <xs:element name="EliProductoResponse" type="tns:EliProductoResponse" />
  <xs:element name="EliSolicitud" type="tns:EliSolicitud" />
  <xs:element name="EliSolicitudResponse" type="tns:EliSolicitudResponse" />
  <xs:element name="ListaComentario" type="tns:ListaComentario" />
  <xs:element name="ListaComentarioResponse" type="tns:ListaComentarioResponse" />
  <xs:element name="ListaEstado" type="tns:ListaEstado" />
  <xs:element name="ListaEstadoResponse" type="tns:ListaEstadoResponse" />
  <xs:element name="ListaMatricula" type="tns:ListaMatricula" />
  <xs:element name="ListaMatriculaResponse" type="tns:ListaMatriculaResponse" />
  <xs:element name="ListaMensualidad" type="tns:ListaMensualidad" />
  <xs:element name="ListaMensualidadResponse" type="tns:ListaMensualidadResponse" />
  <xs:element name="ListaMetodoPago" type="tns:ListaMetodoPago" />
  <xs:element name="ListaMetodoPagoResponse" type="tns:ListaMetodoPagoResponse" />
  <xs:element name="ListaOrdenCompra" type="tns:ListaOrdenCompra" />
  <xs:element name="ListaOrdenCompraResponse" type="tns:ListaOrdenCompraResponse" />
  <xs:element name="ListaSolicitud" type="tns:ListaSolicitud" />
  <xs:element name="ListaSolicitudResponse" type="tns:ListaSolicitudResponse" />
  <xs:element name="ListaTipoProd" type="tns:ListaTipoProd" />
  <xs:element name="ListaTipoProdResponse" type="tns:ListaTipoProdResponse" />
  <xs:element name="ListaTipoSolicitud" type="tns:ListaTipoSolicitud" />
  <xs:element name="ListaTipoSolicitudResponse" type="tns:ListaTipoSolicitudResponse" />
  <xs:element name="ListadoCarrito" type="tns:ListadoCarrito" />
  <xs:element name="ListadoCarritoResponse" type="tns:ListadoCarritoResponse" />
  <xs:element name="ListadoClase" type="tns:ListadoClase" />
  <xs:element name="ListadoClaseNivel" type="tns:ListadoClaseNivel" />
  <xs:element name="ListadoClaseNivelResponse" type="tns:ListadoClaseNivelResponse" />
  <xs:element name="ListadoClaseResponse" type="tns:ListadoClaseResponse" />
  <xs:element name="ListadoDescuento" type="tns:ListadoDescuento" />
  <xs:element name="ListadoDescuentoResponse" type="tns:ListadoDescuentoResponse" />
  <xs:element name="ListadoEvento" type="tns:ListadoEvento" />
  <xs:element name="ListadoEventoResponse" type="tns:ListadoEventoResponse" />
  <xs:element name="ListadoGenero" type="tns:ListadoGenero" />
  <xs:element name="ListadoGeneroResponse" type="tns:ListadoGeneroResponse" />
  <xs:element name="ListadoHorario" type="tns:ListadoHorario" />
  <xs:element name="ListadoHorarioResponse" type="tns:ListadoHorarioResponse" />
  <xs:element name="ListadoObser" type="tns:ListadoObser" />
  <xs:element name="ListadoObserResponse" type="tns:ListadoObserResponse" />
  <xs:element name="ListadoProdEspe" type="tns:ListadoProdEspe" />
  <xs:element name="ListadoProdEspeResponse" type="tns:ListadoProdEspeResponse" />
  <xs:element name="ListadoProdGen" type="tns:ListadoProdGen" />
  <xs:element name="ListadoProdGenResponse" type="tns:ListadoProdGenResponse" />
  <xs:element name="ListadoTalla" type="tns:ListadoTalla" />
  <xs:element name="ListadoTallaResponse" type="tns:ListadoTallaResponse" />
  <xs:element name="ListadoTipoEvento" type="tns:ListadoTipoEvento" />
  <xs:element name="ListadoTipoEventoResponse" type="tns:ListadoTipoEventoResponse" />
  <xs:element name="ListarCinturon" type="tns:ListarCinturon" />
  <xs:element name="ListarCinturonResponse" type="tns:ListarCinturonResponse" />
  <xs:element name="ListarTipoUsuarios" type="tns:ListarTipoUsuarios" />
  <xs:element name="ListarTipoUsuariosResponse" type="tns:ListarTipoUsuariosResponse" />
  <xs:element name="ListarUsuarios" type="tns:ListarUsuarios" />
  <xs:element name="ListarUsuariosResponse" type="tns:ListarUsuariosResponse" />
  <xs:element name="Login" type="tns:Login" />
  <xs:element name="LoginResponse" type="tns:LoginResponse" />
  <xs:element name="ModComentario" type="tns:ModComentario" />
  <xs:element name="ModComentarioResponse" type="tns:ModComentarioResponse" />
  <xs:element name="ModDescuento" type="tns:ModDescuento" />
  <xs:element name="ModDescuentoResponse" type="tns:ModDescuentoResponse" />
  <xs:element name="ModEvento" type="tns:ModEvento" />
  <xs:element name="ModEventoResponse" type="tns:ModEventoResponse" />
  <xs:element name="ModProducto" type="tns:ModProducto" />
  <xs:element name="ModProductoResponse" type="tns:ModProductoResponse" />
  <xs:element name="ModSolicitud" type="tns:ModSolicitud" />
  <xs:element name="ModSolicitudResponse" type="tns:ModSolicitudResponse" />
  <xs:element name="ModUsuario" type="tns:ModUsuario" />
  <xs:element name="ModUsuarioResponse" type="tns:ModUsuarioResponse" />
  <xs:complexType name="ListadoObser">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoObserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:observacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="dia_semana" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_asistencia" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element name="id_asistencia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_nivel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="APaterno" type="xs:string" />
      <xs:element minOccurs="0" name="altura" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="celularEmer" type="xs:string" />
      <xs:element minOccurs="0" name="cinturon" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DV" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="FNacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element name="id_cinturon" type="xs:int" />
      <xs:element name="id_genero" type="xs:int" />
      <xs:element minOccurs="0" name="id_tipo_usu" type="xs:string" />
      <xs:element minOccurs="0" name="PNombre" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:string" />
      <xs:element name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="rutaIma" type="xs:string" />
      <xs:element minOccurs="0" name="SNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgDetalleCom">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_prod" type="xs:int" />
      <xs:element minOccurs="0" name="p_cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgDetalleComResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_dia_semana" type="xs:string" />
      <xs:element minOccurs="0" name="p_hora_inicio" type="xs:string" />
      <xs:element minOccurs="0" name="p_hora_fin" type="xs:string" />
      <xs:element minOccurs="0" name="p_id_clase" type="xs:int" />
      <xs:element minOccurs="0" name="p_id_nivel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaMensualidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaMensualidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mensualidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mensualidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="FECHA_VENCIMIENTO" type="xs:string" />
      <xs:element name="ID_CLASE" type="xs:int" />
      <xs:element name="ID_ESTADO" type="xs:int" />
      <xs:element name="ID_MENSUALIDAD" type="xs:int" />
      <xs:element name="ID_NIVEL" type="xs:int" />
      <xs:element name="MONTO_PAGAR" type="xs:int" />
      <xs:element name="RUT" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoGenero">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoGeneroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:genero" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genero">
    <xs:sequence>
      <xs:element name="id_genero" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaMetodoPago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaMetodoPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago">
    <xs:sequence>
      <xs:element name="id_metodo" type="xs:int" />
      <xs:element minOccurs="0" name="NOM_METODO_PAGO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoProdGen">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoProdGenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prodGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prodGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_PROD" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_producto" type="xs:string" />
      <xs:element name="PORC_DESC" type="xs:int" />
      <xs:element name="PRECIO_NORMAL" type="xs:int" />
      <xs:element name="STOCK" type="xs:int" />
      <xs:element name="VALOR_DESC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoDescuento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoDescuentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:descuentoProd" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuentoProd">
    <xs:sequence>
      <xs:element minOccurs="0" name="FECHA_FIN" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_INICIO" type="xs:string" />
      <xs:element name="ID_DESC_PROD" type="xs:int" />
      <xs:element name="PORC_DESC" type="xs:int" />
      <xs:element name="VALOR_DESC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="dv" type="xs:string" />
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="s_nom" type="xs:string" />
      <xs:element minOccurs="0" name="a_pat" type="xs:string" />
      <xs:element minOccurs="0" name="a_mat" type="xs:string" />
      <xs:element minOccurs="0" name="f_nac" type="xs:string" />
      <xs:element minOccurs="0" name="cel" type="xs:string" />
      <xs:element minOccurs="0" name="cel_em" type="xs:string" />
      <xs:element minOccurs="0" name="dire" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:string" />
      <xs:element minOccurs="0" name="alt" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:int" />
      <xs:element minOccurs="0" name="t_usu" type="xs:int" />
      <xs:element minOccurs="0" name="cint" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id_tipo" type="xs:string" />
      <xs:element minOccurs="0" name="p_estado" type="xs:string" />
      <xs:element minOccurs="0" name="p_rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaSolicitudResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitud">
    <xs:sequence>
      <xs:element name="id_estado" type="xs:int" />
      <xs:element name="id_solicitud" type="xs:int" />
      <xs:element name="id_tipo_sol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_estado" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_tipo_sol" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" type="xs:string" />
      <xs:element name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="soli" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:sequence>
      <xs:element name="CANTIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="FECHA" type="xs:string" />
      <xs:element name="ID_ORDEN" type="xs:int" />
      <xs:element name="ID_PRODUCTO" type="xs:int" />
      <xs:element name="MONTO_TOTAL" type="xs:int" />
      <xs:element name="NRO_COMPRA" type="xs:int" />
      <xs:element name="RUT" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoProdEspe">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoProdEspeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prodEspe" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prodEspe">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_FIN" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_IN" type="xs:string" />
      <xs:element name="ID_DESC_PROD" type="xs:int" />
      <xs:element name="ID_PRODUCTO" type="xs:int" />
      <xs:element name="ID_TALLA" type="xs:int" />
      <xs:element name="ID_TIPO_PROD" type="xs:int" />
      <xs:element minOccurs="0" name="IMG_PROD" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_PRODUCTO" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_TIPO_PROD" type="xs:string" />
      <xs:element name="PORC_DESC" type="xs:int" />
      <xs:element name="PRECIO_NORMAL" type="xs:int" />
      <xs:element name="STOCK" type="xs:int" />
      <xs:element name="VALOR_DESC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliSolicitudResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="p_des" type="xs:string" />
      <xs:element minOccurs="0" name="p_pre_nor" type="xs:int" />
      <xs:element minOccurs="0" name="p_strock" type="xs:int" />
      <xs:element minOccurs="0" name="p_id_tipo" type="xs:string" />
      <xs:element minOccurs="0" name="p_id_desc" type="xs:string" />
      <xs:element minOccurs="0" name="p_talla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_val" type="xs:int" />
      <xs:element minOccurs="0" name="p_fecha" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
      <xs:element minOccurs="0" name="p_comentario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModEvento">
    <xs:sequence>
      <xs:element name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="p_des" type="xs:string" />
      <xs:element minOccurs="0" name="p_dire" type="xs:string" />
      <xs:element minOccurs="0" name="p_hora" type="xs:string" />
      <xs:element minOccurs="0" name="p_t_eve" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarCinturon">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarCinturonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cinturon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cinturon">
    <xs:sequence>
      <xs:element minOccurs="0" name="color_cinturon" type="xs:string" />
      <xs:element name="id_cinturon" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_cinturon" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoEvento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION_EVENTO" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_HORA" type="xs:string" />
      <xs:element name="ID_EVENTO" type="xs:int" />
      <xs:element name="ID_TIPO_EVENTO" type="xs:int" />
      <xs:element minOccurs="0" name="IMG_EVENTO" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_EVENTO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="p_des" type="xs:string" />
      <xs:element minOccurs="0" name="p_pre_nor" type="xs:int" />
      <xs:element minOccurs="0" name="p_strock" type="xs:int" />
      <xs:element minOccurs="0" name="p_id_tipo" type="xs:string" />
      <xs:element minOccurs="0" name="p_id_desc" type="xs:string" />
      <xs:element minOccurs="0" name="p_talla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarTipoUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTipoUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoUsuario">
    <xs:sequence>
      <xs:element name="id_tipo_usu" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_tipo_usu" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliDescuentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaEstado">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaEstadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado">
    <xs:sequence>
      <xs:element name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_sol" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreSolicitudResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_fecha_inicio" type="xs:string" />
      <xs:element minOccurs="0" name="p_fecha_fin" type="xs:string" />
      <xs:element minOccurs="0" name="p_valor_desc" type="xs:int" />
      <xs:element minOccurs="0" name="p_porc_desc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreDescuentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliEvento">
    <xs:sequence>
      <xs:element name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_clase" type="xs:string" />
      <xs:element minOccurs="0" name="p_nivel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="dia" type="xs:string" />
      <xs:element minOccurs="0" name="hora_fin" type="xs:string" />
      <xs:element minOccurs="0" name="hora_ini" type="xs:string" />
      <xs:element name="id_clase" type="xs:int" />
      <xs:element name="id_horario" type="xs:int" />
      <xs:element name="id_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nom_clase" type="xs:string" />
      <xs:element minOccurs="0" name="nom_nivel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="s_nom" type="xs:string" />
      <xs:element minOccurs="0" name="a_pat" type="xs:string" />
      <xs:element minOccurs="0" name="a_mat" type="xs:string" />
      <xs:element minOccurs="0" name="f_nac" type="xs:string" />
      <xs:element minOccurs="0" name="cel" type="xs:string" />
      <xs:element minOccurs="0" name="cel_em" type="xs:string" />
      <xs:element minOccurs="0" name="dire" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:string" />
      <xs:element minOccurs="0" name="alt" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:int" />
      <xs:element minOccurs="0" name="t_usu" type="xs:int" />
      <xs:element minOccurs="0" name="cint" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgOrdenCompraResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="p_sol" type="xs:string" />
      <xs:element minOccurs="0" name="p_res" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo_sol" type="xs:int" />
      <xs:element minOccurs="0" name="p_estado" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModSolicitudResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="p_fecha_inicio" type="xs:string" />
      <xs:element minOccurs="0" name="p_fecha_fin" type="xs:string" />
      <xs:element minOccurs="0" name="p_valor_desc" type="xs:int" />
      <xs:element minOccurs="0" name="p_porc_desc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModDescuentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaTipoSolicitud">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaTipoSolicitudResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoSolicitud">
    <xs:sequence>
      <xs:element name="ID_TIPO_SOL" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_TIPO_SOL" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaComentarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMENTARIO" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_RESPUESTA" type="xs:string" />
      <xs:element name="ID_ENCUESTA" type="xs:int" />
      <xs:element name="ID_TIPO_ENCUESTA" type="xs:int" />
      <xs:element minOccurs="0" name="IMG_USU" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="RUT" type="xs:int" />
      <xs:element name="VALORACION" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_metodo" type="xs:string" />
      <xs:element minOccurs="0" name="p_pagado" type="xs:string" />
      <xs:element minOccurs="0" name="p_id_matricula" type="xs:string" />
      <xs:element minOccurs="0" name="p_id_mensualidad" type="xs:string" />
      <xs:element minOccurs="0" name="p_nro_compra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoTipoEvento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoTipoEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_EVENTO" type="xs:string" />
      <xs:element name="ID_TIPO_EVENTO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carrito">
    <xs:sequence>
      <xs:element name="CANTIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="DESCRIPCION" type="xs:string" />
      <xs:element name="ID_DESC_PROD" type="xs:int" />
      <xs:element name="ID_PRODUCTO" type="xs:int" />
      <xs:element name="ID_TALLA" type="xs:int" />
      <xs:element name="ID_TIPO_PROD" type="xs:int" />
      <xs:element minOccurs="0" name="IMG_PROD" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_PRODUCTO" type="xs:string" />
      <xs:element name="PORC_DESC" type="xs:int" />
      <xs:element name="PRECIO_NORMAL" type="xs:int" />
      <xs:element name="RUT" type="xs:int" />
      <xs:element name="STOCK" type="xs:int" />
      <xs:element name="VALOR_DESC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_nom" type="xs:string" />
      <xs:element minOccurs="0" name="p_des" type="xs:string" />
      <xs:element minOccurs="0" name="p_dire" type="xs:string" />
      <xs:element minOccurs="0" name="p_hora" type="xs:string" />
      <xs:element minOccurs="0" name="p_t_eve" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id" type="xs:int" />
      <xs:element minOccurs="0" name="p_val" type="xs:int" />
      <xs:element minOccurs="0" name="p_fecha" type="xs:string" />
      <xs:element minOccurs="0" name="p_tipo" type="xs:int" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
      <xs:element minOccurs="0" name="p_comentario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgParticipacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_id_evento" type="xs:int" />
      <xs:element minOccurs="0" name="p_logro" type="xs:string" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgParticipacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoClaseNivel">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoClaseNivelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:clasesNivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clasesNivel">
    <xs:sequence>
      <xs:element name="id_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoTalla">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoTallaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="talla">
    <xs:sequence>
      <xs:element name="id_talla" type="xs:int" />
      <xs:element minOccurs="0" name="nom_talla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaMatriculaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="FECHA_MATRICULA" type="xs:string" />
      <xs:element name="ID_ESTADO" type="xs:int" />
      <xs:element name="ID_MATRICULA" type="xs:int" />
      <xs:element name="MONTO_MATRICULA" type="xs:int" />
      <xs:element name="RUT" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaTipoProd">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaTipoProdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProducto">
    <xs:sequence>
      <xs:element name="id_tipo_prod" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_tipo_prod" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgMensualidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_fech" type="xs:string" />
      <xs:element minOccurs="0" name="p_rut" type="xs:int" />
      <xs:element minOccurs="0" name="p_clase" type="xs:int" />
      <xs:element minOccurs="0" name="p_estado" type="xs:int" />
      <xs:element minOccurs="0" name="p_nivel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgMensualidadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListadoClase">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListadoClaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:clases" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clases">
    <xs:sequence>
      <xs:element name="id_clase" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>