Connected Services/WS_ValdiviaDojo/WS_Dojo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WS_Dojo" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WS_ValdiviaDojo/WS_Dojo?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="Login">
    <part name="parameters" element="tns:Login" />
  </message>
  <message name="LoginResponse">
    <part name="parameters" element="tns:LoginResponse" />
  </message>
  <message name="ModComentario">
    <part name="parameters" element="tns:ModComentario" />
  </message>
  <message name="ModComentarioResponse">
    <part name="parameters" element="tns:ModComentarioResponse" />
  </message>
  <message name="AgreSolicitud">
    <part name="parameters" element="tns:AgreSolicitud" />
  </message>
  <message name="AgreSolicitudResponse">
    <part name="parameters" element="tns:AgreSolicitudResponse" />
  </message>
  <message name="ModSolicitud">
    <part name="parameters" element="tns:ModSolicitud" />
  </message>
  <message name="ModSolicitudResponse">
    <part name="parameters" element="tns:ModSolicitudResponse" />
  </message>
  <message name="ListaEstado">
    <part name="parameters" element="tns:ListaEstado" />
  </message>
  <message name="ListaEstadoResponse">
    <part name="parameters" element="tns:ListaEstadoResponse" />
  </message>
  <message name="ListadoObser">
    <part name="parameters" element="tns:ListadoObser" />
  </message>
  <message name="ListadoObserResponse">
    <part name="parameters" element="tns:ListadoObserResponse" />
  </message>
  <message name="AgreComentario">
    <part name="parameters" element="tns:AgreComentario" />
  </message>
  <message name="AgreComentarioResponse">
    <part name="parameters" element="tns:AgreComentarioResponse" />
  </message>
  <message name="EliSolicitud">
    <part name="parameters" element="tns:EliSolicitud" />
  </message>
  <message name="EliSolicitudResponse">
    <part name="parameters" element="tns:EliSolicitudResponse" />
  </message>
  <message name="ListaSolicitud">
    <part name="parameters" element="tns:ListaSolicitud" />
  </message>
  <message name="ListaSolicitudResponse">
    <part name="parameters" element="tns:ListaSolicitudResponse" />
  </message>
  <message name="EliComentario">
    <part name="parameters" element="tns:EliComentario" />
  </message>
  <message name="EliComentarioResponse">
    <part name="parameters" element="tns:EliComentarioResponse" />
  </message>
  <message name="ListaComentario">
    <part name="parameters" element="tns:ListaComentario" />
  </message>
  <message name="ListaComentarioResponse">
    <part name="parameters" element="tns:ListaComentarioResponse" />
  </message>
  <message name="ModDescuento">
    <part name="parameters" element="tns:ModDescuento" />
  </message>
  <message name="ModDescuentoResponse">
    <part name="parameters" element="tns:ModDescuentoResponse" />
  </message>
  <message name="ModUsuario">
    <part name="parameters" element="tns:ModUsuario" />
  </message>
  <message name="ModUsuarioResponse">
    <part name="parameters" element="tns:ModUsuarioResponse" />
  </message>
  <message name="AgMensualidad">
    <part name="parameters" element="tns:AgMensualidad" />
  </message>
  <message name="AgMensualidadResponse">
    <part name="parameters" element="tns:AgMensualidadResponse" />
  </message>
  <message name="ListadoEvento">
    <part name="parameters" element="tns:ListadoEvento" />
  </message>
  <message name="ListadoEventoResponse">
    <part name="parameters" element="tns:ListadoEventoResponse" />
  </message>
  <message name="ListadoDescuento">
    <part name="parameters" element="tns:ListadoDescuento" />
  </message>
  <message name="ListadoDescuentoResponse">
    <part name="parameters" element="tns:ListadoDescuentoResponse" />
  </message>
  <message name="AgDetalleCom">
    <part name="parameters" element="tns:AgDetalleCom" />
  </message>
  <message name="AgDetalleComResponse">
    <part name="parameters" element="tns:AgDetalleComResponse" />
  </message>
  <message name="EliProducto">
    <part name="parameters" element="tns:EliProducto" />
  </message>
  <message name="EliProductoResponse">
    <part name="parameters" element="tns:EliProductoResponse" />
  </message>
  <message name="ListadoClase">
    <part name="parameters" element="tns:ListadoClase" />
  </message>
  <message name="ListadoClaseResponse">
    <part name="parameters" element="tns:ListadoClaseResponse" />
  </message>
  <message name="ListadoCarrito">
    <part name="parameters" element="tns:ListadoCarrito" />
  </message>
  <message name="ListadoCarritoResponse">
    <part name="parameters" element="tns:ListadoCarritoResponse" />
  </message>
  <message name="AgProducto">
    <part name="parameters" element="tns:AgProducto" />
  </message>
  <message name="AgProductoResponse">
    <part name="parameters" element="tns:AgProductoResponse" />
  </message>
  <message name="CrearUsuario">
    <part name="parameters" element="tns:CrearUsuario" />
  </message>
  <message name="CrearUsuarioResponse">
    <part name="parameters" element="tns:CrearUsuarioResponse" />
  </message>
  <message name="AgParticipacion">
    <part name="parameters" element="tns:AgParticipacion" />
  </message>
  <message name="AgParticipacionResponse">
    <part name="parameters" element="tns:AgParticipacionResponse" />
  </message>
  <message name="EliDescuento">
    <part name="parameters" element="tns:EliDescuento" />
  </message>
  <message name="EliDescuentoResponse">
    <part name="parameters" element="tns:EliDescuentoResponse" />
  </message>
  <message name="ListadoGenero">
    <part name="parameters" element="tns:ListadoGenero" />
  </message>
  <message name="ListadoGeneroResponse">
    <part name="parameters" element="tns:ListadoGeneroResponse" />
  </message>
  <message name="ListadoHorario">
    <part name="parameters" element="tns:ListadoHorario" />
  </message>
  <message name="ListadoHorarioResponse">
    <part name="parameters" element="tns:ListadoHorarioResponse" />
  </message>
  <message name="ListadoTalla">
    <part name="parameters" element="tns:ListadoTalla" />
  </message>
  <message name="ListadoTallaResponse">
    <part name="parameters" element="tns:ListadoTallaResponse" />
  </message>
  <message name="AgreDescuento">
    <part name="parameters" element="tns:AgreDescuento" />
  </message>
  <message name="AgreDescuentoResponse">
    <part name="parameters" element="tns:AgreDescuentoResponse" />
  </message>
  <message name="ListadoProdEspe">
    <part name="parameters" element="tns:ListadoProdEspe" />
  </message>
  <message name="ListadoProdEspeResponse">
    <part name="parameters" element="tns:ListadoProdEspeResponse" />
  </message>
  <message name="ListadoProdGen">
    <part name="parameters" element="tns:ListadoProdGen" />
  </message>
  <message name="ListadoProdGenResponse">
    <part name="parameters" element="tns:ListadoProdGenResponse" />
  </message>
  <message name="ModProducto">
    <part name="parameters" element="tns:ModProducto" />
  </message>
  <message name="ModProductoResponse">
    <part name="parameters" element="tns:ModProductoResponse" />
  </message>
  <message name="ListaTipoProd">
    <part name="parameters" element="tns:ListaTipoProd" />
  </message>
  <message name="ListaTipoProdResponse">
    <part name="parameters" element="tns:ListaTipoProdResponse" />
  </message>
  <message name="ListaTipoSolicitud">
    <part name="parameters" element="tns:ListaTipoSolicitud" />
  </message>
  <message name="ListaTipoSolicitudResponse">
    <part name="parameters" element="tns:ListaTipoSolicitudResponse" />
  </message>
  <message name="ListadoTipoEvento">
    <part name="parameters" element="tns:ListadoTipoEvento" />
  </message>
  <message name="ListadoTipoEventoResponse">
    <part name="parameters" element="tns:ListadoTipoEventoResponse" />
  </message>
  <message name="ListadoClaseNivel">
    <part name="parameters" element="tns:ListadoClaseNivel" />
  </message>
  <message name="ListadoClaseNivelResponse">
    <part name="parameters" element="tns:ListadoClaseNivelResponse" />
  </message>
  <message name="ListaMetodoPago">
    <part name="parameters" element="tns:ListaMetodoPago" />
  </message>
  <message name="ListaMetodoPagoResponse">
    <part name="parameters" element="tns:ListaMetodoPagoResponse" />
  </message>
  <message name="ListaMatricula">
    <part name="parameters" element="tns:ListaMatricula" />
  </message>
  <message name="ListaMatriculaResponse">
    <part name="parameters" element="tns:ListaMatriculaResponse" />
  </message>
  <message name="AgPago">
    <part name="parameters" element="tns:AgPago" />
  </message>
  <message name="AgPagoResponse">
    <part name="parameters" element="tns:AgPagoResponse" />
  </message>
  <message name="AgOrdenCompra">
    <part name="parameters" element="tns:AgOrdenCompra" />
  </message>
  <message name="AgOrdenCompraResponse">
    <part name="parameters" element="tns:AgOrdenCompraResponse" />
  </message>
  <message name="ListaOrdenCompra">
    <part name="parameters" element="tns:ListaOrdenCompra" />
  </message>
  <message name="ListaOrdenCompraResponse">
    <part name="parameters" element="tns:ListaOrdenCompraResponse" />
  </message>
  <message name="ListarUsuarios">
    <part name="parameters" element="tns:ListarUsuarios" />
  </message>
  <message name="ListarUsuariosResponse">
    <part name="parameters" element="tns:ListarUsuariosResponse" />
  </message>
  <message name="ListarTipoUsuarios">
    <part name="parameters" element="tns:ListarTipoUsuarios" />
  </message>
  <message name="ListarTipoUsuariosResponse">
    <part name="parameters" element="tns:ListarTipoUsuariosResponse" />
  </message>
  <message name="ListaMensualidad">
    <part name="parameters" element="tns:ListaMensualidad" />
  </message>
  <message name="ListaMensualidadResponse">
    <part name="parameters" element="tns:ListaMensualidadResponse" />
  </message>
  <message name="ListarCinturon">
    <part name="parameters" element="tns:ListarCinturon" />
  </message>
  <message name="ListarCinturonResponse">
    <part name="parameters" element="tns:ListarCinturonResponse" />
  </message>
  <portType name="WS_Dojo">
    <operation name="Login">
      <input wsam:Action="http://ws/WS_Dojo/LoginRequest" message="tns:Login" />
      <output wsam:Action="http://ws/WS_Dojo/LoginResponse" message="tns:LoginResponse" />
    </operation>
    <operation name="ModComentario">
      <input wsam:Action="http://ws/WS_Dojo/ModComentarioRequest" message="tns:ModComentario" />
      <output wsam:Action="http://ws/WS_Dojo/ModComentarioResponse" message="tns:ModComentarioResponse" />
    </operation>
    <operation name="AgreSolicitud">
      <input wsam:Action="http://ws/WS_Dojo/AgreSolicitudRequest" message="tns:AgreSolicitud" />
      <output wsam:Action="http://ws/WS_Dojo/AgreSolicitudResponse" message="tns:AgreSolicitudResponse" />
    </operation>
    <operation name="ModSolicitud">
      <input wsam:Action="http://ws/WS_Dojo/ModSolicitudRequest" message="tns:ModSolicitud" />
      <output wsam:Action="http://ws/WS_Dojo/ModSolicitudResponse" message="tns:ModSolicitudResponse" />
    </operation>
    <operation name="ListaEstado">
      <input wsam:Action="http://ws/WS_Dojo/ListaEstadoRequest" message="tns:ListaEstado" />
      <output wsam:Action="http://ws/WS_Dojo/ListaEstadoResponse" message="tns:ListaEstadoResponse" />
    </operation>
    <operation name="ListadoObser">
      <input wsam:Action="http://ws/WS_Dojo/ListadoObserRequest" message="tns:ListadoObser" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoObserResponse" message="tns:ListadoObserResponse" />
    </operation>
    <operation name="AgreComentario">
      <input wsam:Action="http://ws/WS_Dojo/AgreComentarioRequest" message="tns:AgreComentario" />
      <output wsam:Action="http://ws/WS_Dojo/AgreComentarioResponse" message="tns:AgreComentarioResponse" />
    </operation>
    <operation name="EliSolicitud">
      <input wsam:Action="http://ws/WS_Dojo/EliSolicitudRequest" message="tns:EliSolicitud" />
      <output wsam:Action="http://ws/WS_Dojo/EliSolicitudResponse" message="tns:EliSolicitudResponse" />
    </operation>
    <operation name="ListaSolicitud">
      <input wsam:Action="http://ws/WS_Dojo/ListaSolicitudRequest" message="tns:ListaSolicitud" />
      <output wsam:Action="http://ws/WS_Dojo/ListaSolicitudResponse" message="tns:ListaSolicitudResponse" />
    </operation>
    <operation name="EliComentario">
      <input wsam:Action="http://ws/WS_Dojo/EliComentarioRequest" message="tns:EliComentario" />
      <output wsam:Action="http://ws/WS_Dojo/EliComentarioResponse" message="tns:EliComentarioResponse" />
    </operation>
    <operation name="ListaComentario">
      <input wsam:Action="http://ws/WS_Dojo/ListaComentarioRequest" message="tns:ListaComentario" />
      <output wsam:Action="http://ws/WS_Dojo/ListaComentarioResponse" message="tns:ListaComentarioResponse" />
    </operation>
    <operation name="ModDescuento">
      <input wsam:Action="http://ws/WS_Dojo/ModDescuentoRequest" message="tns:ModDescuento" />
      <output wsam:Action="http://ws/WS_Dojo/ModDescuentoResponse" message="tns:ModDescuentoResponse" />
    </operation>
    <operation name="ModUsuario">
      <input wsam:Action="http://ws/WS_Dojo/ModUsuarioRequest" message="tns:ModUsuario" />
      <output wsam:Action="http://ws/WS_Dojo/ModUsuarioResponse" message="tns:ModUsuarioResponse" />
    </operation>
    <operation name="AgMensualidad">
      <input wsam:Action="http://ws/WS_Dojo/AgMensualidadRequest" message="tns:AgMensualidad" />
      <output wsam:Action="http://ws/WS_Dojo/AgMensualidadResponse" message="tns:AgMensualidadResponse" />
    </operation>
    <operation name="ListadoEvento">
      <input wsam:Action="http://ws/WS_Dojo/ListadoEventoRequest" message="tns:ListadoEvento" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoEventoResponse" message="tns:ListadoEventoResponse" />
    </operation>
    <operation name="ListadoDescuento">
      <input wsam:Action="http://ws/WS_Dojo/ListadoDescuentoRequest" message="tns:ListadoDescuento" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoDescuentoResponse" message="tns:ListadoDescuentoResponse" />
    </operation>
    <operation name="AgDetalleCom">
      <input wsam:Action="http://ws/WS_Dojo/AgDetalleComRequest" message="tns:AgDetalleCom" />
      <output wsam:Action="http://ws/WS_Dojo/AgDetalleComResponse" message="tns:AgDetalleComResponse" />
    </operation>
    <operation name="EliProducto">
      <input wsam:Action="http://ws/WS_Dojo/EliProductoRequest" message="tns:EliProducto" />
      <output wsam:Action="http://ws/WS_Dojo/EliProductoResponse" message="tns:EliProductoResponse" />
    </operation>
    <operation name="ListadoClase">
      <input wsam:Action="http://ws/WS_Dojo/ListadoClaseRequest" message="tns:ListadoClase" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoClaseResponse" message="tns:ListadoClaseResponse" />
    </operation>
    <operation name="ListadoCarrito">
      <input wsam:Action="http://ws/WS_Dojo/ListadoCarritoRequest" message="tns:ListadoCarrito" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoCarritoResponse" message="tns:ListadoCarritoResponse" />
    </operation>
    <operation name="AgProducto">
      <input wsam:Action="http://ws/WS_Dojo/AgProductoRequest" message="tns:AgProducto" />
      <output wsam:Action="http://ws/WS_Dojo/AgProductoResponse" message="tns:AgProductoResponse" />
    </operation>
    <operation name="CrearUsuario">
      <input wsam:Action="http://ws/WS_Dojo/CrearUsuarioRequest" message="tns:CrearUsuario" />
      <output wsam:Action="http://ws/WS_Dojo/CrearUsuarioResponse" message="tns:CrearUsuarioResponse" />
    </operation>
    <operation name="AgParticipacion">
      <input wsam:Action="http://ws/WS_Dojo/AgParticipacionRequest" message="tns:AgParticipacion" />
      <output wsam:Action="http://ws/WS_Dojo/AgParticipacionResponse" message="tns:AgParticipacionResponse" />
    </operation>
    <operation name="EliDescuento">
      <input wsam:Action="http://ws/WS_Dojo/EliDescuentoRequest" message="tns:EliDescuento" />
      <output wsam:Action="http://ws/WS_Dojo/EliDescuentoResponse" message="tns:EliDescuentoResponse" />
    </operation>
    <operation name="ListadoGenero">
      <input wsam:Action="http://ws/WS_Dojo/ListadoGeneroRequest" message="tns:ListadoGenero" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoGeneroResponse" message="tns:ListadoGeneroResponse" />
    </operation>
    <operation name="ListadoHorario">
      <input wsam:Action="http://ws/WS_Dojo/ListadoHorarioRequest" message="tns:ListadoHorario" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoHorarioResponse" message="tns:ListadoHorarioResponse" />
    </operation>
    <operation name="ListadoTalla">
      <input wsam:Action="http://ws/WS_Dojo/ListadoTallaRequest" message="tns:ListadoTalla" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoTallaResponse" message="tns:ListadoTallaResponse" />
    </operation>
    <operation name="AgreDescuento">
      <input wsam:Action="http://ws/WS_Dojo/AgreDescuentoRequest" message="tns:AgreDescuento" />
      <output wsam:Action="http://ws/WS_Dojo/AgreDescuentoResponse" message="tns:AgreDescuentoResponse" />
    </operation>
    <operation name="ListadoProdEspe">
      <input wsam:Action="http://ws/WS_Dojo/ListadoProdEspeRequest" message="tns:ListadoProdEspe" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoProdEspeResponse" message="tns:ListadoProdEspeResponse" />
    </operation>
    <operation name="ListadoProdGen">
      <input wsam:Action="http://ws/WS_Dojo/ListadoProdGenRequest" message="tns:ListadoProdGen" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoProdGenResponse" message="tns:ListadoProdGenResponse" />
    </operation>
    <operation name="ModProducto">
      <input wsam:Action="http://ws/WS_Dojo/ModProductoRequest" message="tns:ModProducto" />
      <output wsam:Action="http://ws/WS_Dojo/ModProductoResponse" message="tns:ModProductoResponse" />
    </operation>
    <operation name="ListaTipoProd">
      <input wsam:Action="http://ws/WS_Dojo/ListaTipoProdRequest" message="tns:ListaTipoProd" />
      <output wsam:Action="http://ws/WS_Dojo/ListaTipoProdResponse" message="tns:ListaTipoProdResponse" />
    </operation>
    <operation name="ListaTipoSolicitud">
      <input wsam:Action="http://ws/WS_Dojo/ListaTipoSolicitudRequest" message="tns:ListaTipoSolicitud" />
      <output wsam:Action="http://ws/WS_Dojo/ListaTipoSolicitudResponse" message="tns:ListaTipoSolicitudResponse" />
    </operation>
    <operation name="ListadoTipoEvento">
      <input wsam:Action="http://ws/WS_Dojo/ListadoTipoEventoRequest" message="tns:ListadoTipoEvento" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoTipoEventoResponse" message="tns:ListadoTipoEventoResponse" />
    </operation>
    <operation name="ListadoClaseNivel">
      <input wsam:Action="http://ws/WS_Dojo/ListadoClaseNivelRequest" message="tns:ListadoClaseNivel" />
      <output wsam:Action="http://ws/WS_Dojo/ListadoClaseNivelResponse" message="tns:ListadoClaseNivelResponse" />
    </operation>
    <operation name="ListaMetodoPago">
      <input wsam:Action="http://ws/WS_Dojo/ListaMetodoPagoRequest" message="tns:ListaMetodoPago" />
      <output wsam:Action="http://ws/WS_Dojo/ListaMetodoPagoResponse" message="tns:ListaMetodoPagoResponse" />
    </operation>
    <operation name="ListaMatricula">
      <input wsam:Action="http://ws/WS_Dojo/ListaMatriculaRequest" message="tns:ListaMatricula" />
      <output wsam:Action="http://ws/WS_Dojo/ListaMatriculaResponse" message="tns:ListaMatriculaResponse" />
    </operation>
    <operation name="AgPago">
      <input wsam:Action="http://ws/WS_Dojo/AgPagoRequest" message="tns:AgPago" />
      <output wsam:Action="http://ws/WS_Dojo/AgPagoResponse" message="tns:AgPagoResponse" />
    </operation>
    <operation name="AgOrdenCompra">
      <input wsam:Action="http://ws/WS_Dojo/AgOrdenCompraRequest" message="tns:AgOrdenCompra" />
      <output wsam:Action="http://ws/WS_Dojo/AgOrdenCompraResponse" message="tns:AgOrdenCompraResponse" />
    </operation>
    <operation name="ListaOrdenCompra">
      <input wsam:Action="http://ws/WS_Dojo/ListaOrdenCompraRequest" message="tns:ListaOrdenCompra" />
      <output wsam:Action="http://ws/WS_Dojo/ListaOrdenCompraResponse" message="tns:ListaOrdenCompraResponse" />
    </operation>
    <operation name="ListarUsuarios">
      <input wsam:Action="http://ws/WS_Dojo/ListarUsuariosRequest" message="tns:ListarUsuarios" />
      <output wsam:Action="http://ws/WS_Dojo/ListarUsuariosResponse" message="tns:ListarUsuariosResponse" />
    </operation>
    <operation name="ListarTipoUsuarios">
      <input wsam:Action="http://ws/WS_Dojo/ListarTipoUsuariosRequest" message="tns:ListarTipoUsuarios" />
      <output wsam:Action="http://ws/WS_Dojo/ListarTipoUsuariosResponse" message="tns:ListarTipoUsuariosResponse" />
    </operation>
    <operation name="ListaMensualidad">
      <input wsam:Action="http://ws/WS_Dojo/ListaMensualidadRequest" message="tns:ListaMensualidad" />
      <output wsam:Action="http://ws/WS_Dojo/ListaMensualidadResponse" message="tns:ListaMensualidadResponse" />
    </operation>
    <operation name="ListarCinturon">
      <input wsam:Action="http://ws/WS_Dojo/ListarCinturonRequest" message="tns:ListarCinturon" />
      <output wsam:Action="http://ws/WS_Dojo/ListarCinturonResponse" message="tns:ListarCinturonResponse" />
    </operation>
  </portType>
  <binding name="WS_DojoPortBinding" type="tns:WS_Dojo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgreSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoObser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgreComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgMensualidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgDetalleCom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoClase">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CrearUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgParticipacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoGenero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoTalla">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgreDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoProdEspe">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoProdGen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaTipoProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaTipoSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoTipoEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListadoClaseNivel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaMetodoPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTipoUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListaMensualidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarCinturon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_Dojo">
    <port name="WS_DojoPort" binding="tns:WS_DojoPortBinding">
      <soap:address location="http://localhost:8080/WS_ValdiviaDojo/WS_Dojo" />
    </port>
  </service>
</definitions>